* {
    margin: 0;
    padding: 0;
}
button{
    position: absolute;
    z-index: 3;
    font-size: large;
    padding: 20px;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
    /*display:none;*/    /*bare foreløpig*/
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(img/sky.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
    z-index: 0;
}

#road {
    height: 200px;
    width: 500%;
    display: block;
    /* background-image: url(img/road.png); */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    
}
@keyframes road {
    100%{
        transform: translateX(-4000px);
    }
}
.car{
    width: 400px;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 3;
}
#shopping{
    /* margin-top: 390px; */
    /* position: absolute; */
    cursor: pointer;
    width:300px;
    height: auto;
    z-index: 1;

}
#shopDialog{
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;
    border: 1px solid black;
    
}
#infoDiv{
    border: 2px solid black;
    position: absolute;
}
.shopStop {
    position: absolute;
    cursor: pointer;
}

.running {
    animation: road 5s linear infinite;
    animation-play-state: running;
}
.stopped {
    animation-play-state: paused;
}

/*keyframes progressbar

0%

25%

50%

100%*/

#shopping {
    width: 200px;
    height: auto;
     position: absolute;
    top: 55%;top: ;
}
.butikk{
   
}

#kompisGif {
    position: absolute;
    width: 87px;
    height: auto;
    bottom: 80px;
    left: 380px;
}

#greetKompis {
    position: absolute;
    bottom: 200px;
    left: 500px;
}



/* CSS */
.testBtn {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}




.testBtn:hover {
  background-color: #29b1ff;
  box-shadow: #14a1ff 0 -6px 8px inset;
  transform: scale(1.125);
}

.testBtn:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .testBtn {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}